@import "_variables.scss";

.button1 {
  background-color: $primary;
  text-decoration: none;
  color: #333;
  padding: 2vh;
  margin: 7vh;
  border-radius: 1vh;
  border: solid $secondary 0.5vh;
  transition: all 0.2s;
  position: absolute;
}

.button1:hover {
  transform: scale(1.5);
}

.button1::after {
  position: relative;
  height: 100%;
  width: 100%;
  display: inline-block;
}
