@import "_variables.scss";

.button1 {
  text-decoration: none;
  color: #333;
  padding: 2vh;
  margin: 7vh;
  font-size: 2rem;
  border-radius: 1vh;
  border: solid $secondary 0.5vh;
  transition: all 0.2s;
}

.button1:hover {
  transform: scale(0.75);
  cursor: grab;
  background-color: $primary;
}

.button1:active {
  opacity: 0.3;
  transition: 0.1s;
  cursor: grabbing;
}
