@import "_variables.scss";

.icebear-photo {
  width: 70%;
  clip-path: circle();
  margin: 0 auto;
  transition: all 0.2s;
}

.icebear {
  margin-top: 4vh;
  display: flex;
  text-align: center;
  position: relative;
}

#icebear-text {
  font-size: 3rem;
  margin-bottom: 5vh;
  position: absolute;
  opacity: 0;
  transform: translate(-50% -50%);
  top: 90%;
  left: 20%;
  display: block;
  color: darkblue;
  font-weight: bolder;
}

.icebear-photo:hover {
  filter: blur(3.5px);
}

.icebear:hover #icebear-text {
  opacity: 1;
  top: 50%;
  transition: all 0.7s;
}
